#blockchain-functionalities {
    @extend %dark-blue-section-base;
    padding: 60px 0 60px 0;
    overflow: hidden;
  
    .box {
      padding: 40px;
      min-height: 402px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
      background: $white;
      color: $dark-blue;
      transition: 0.4s;
    }
  
    .icon {
      float: left;
      i {
        // color: $white;
        font-size: 80px;
        transition: 0.5s;
        line-height: 0;
        &:before {
          background: $blue;
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  
    h4 {
      margin-left: 100px;
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 18px;
    //   a {
    //     color: #111;
    //   }
  
    }
  
    p {
      font-size: 14px;
      margin-left: 100px;
      margin-bottom: 0;
      line-height: 24px;
    }
  
    @media (max-width: 767px) {
      .box {
        margin-bottom: 20px;
      }
      .icon {
        float: none;
        text-align: center;
        padding-bottom: 15px;
      }
  
      h4, p  {
        margin-left: 0;
        text-align: center;
      }
    }
  }