#footer {
  @extend %white-section-base;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  font-size: 14px;

  .copyright {
  }

  .modal-content {
    font-size: 13px;
    color: $dark-blue;
  }

  .footer-links {
    a {
      color: $white;
      padding-left: 15px;

      &:first-child {
        padding-left: 0;
      }

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }
}
