#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;

  #logo {
    float: left;

    h1 {
      font-size: 36px;
      margin: -4px 0 0 0;
      padding: 0;
      line-height: 1;
      display: inline-block;
      font-family: $accent-font;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    h1 a, h1 a:hover {
      color: $white;
    }

    img {
      padding: 0;
      margin: 0;
      height: 50px;
    }
  }

  @media (max-width: 768px) {
    #logo {
      h1 {
        font-size: 28px;
        margin-top: 0;
      }

      img {
        max-height: 40px;
      }
    }
  }

  &.header-fixed  {
    background-color: $dark-blue;
    padding: 20px 0;
    height: 85px;
    transition: all 0.5s;
  }

}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: $dark-blue;
  // background-size: cover;
  
  // @media (min-width: 1024px) {
  //   background-attachment: fixed;
  // }

  .intro-text {
    // position: absolute;
    // left: 0;
    // top: 60px;
    // right: 0;
    // height: calc(50% - 60px);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding-top: 100px;
    text-align: center;
    vertical-align: top;
    // flex-direction: column;

    @media (max-width: 768px) {
      display: none;
    }
  }

  h3 {
    font-size: 26px;
    font-weight: 700;
    color: $white;
  }

  h2 {
    margin: 20px 0 10px 0;
    padding: 0 15px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: $white;
    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  p {
    color: $white;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 24px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  .project_description_title {
    @media (max-width: 425px) {
      // padding-top: 10px;
      font-size: 18px;
    }

    @media (min-width: 768px) {
      // color:pink;
      // padding-top: 30px;
      font-size: 25px;
    }
  }

  .apply_early_access {
    @media (max-width: 425px) {
      padding-top: 30px;
      font-size: 18px;
    }

    @media (min-width: 768px) {
       // color:red;
      padding-top: 100px;
      font-size: 25px;
    }
  }

  .initial_coin_offering {
    @media (max-width: 425px) {
      padding-top: 30px;
      font-size: 18px;
    }

    @media (min-width: 768px) {
      // color:yellow;
      // padding-top: 30px;
      font-size: 25px;
    }
  }

  .stay_tuned_for_news_title {
    @media (max-width: 425px) {
      padding-top: 30px;
      font-size: 18px;
    }
    // color:gold;

    padding-top: 30px;
    font-size: 25px;
  }

  #clockdiv{
    color: $white;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: $blue;
    display: inline-block;
  }
  
  #clockdiv div > span{
    border-radius: 3px;
    display: inline-block;
  }

  .smalltext{
    font-size: 16px;
  }

  .form button[type="submit"] {
    background-color: $blue;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: $white;
  }
  
  .form button[type="submit"]:hover {
    cursor: pointer;
  }

  // .btn-get-started {
  //   font-family: $heading-font;
  //   font-weight: 400;
  //   font-size: 16px;
  //   letter-spacing: 1px;
  //   display: inline-block;
  //   padding: 8px 28px;
  //   border-radius: 50px;
  //   transition: 0.5s;
  //   margin: 10px;
  //   border: 2px solid #fff;
  //   color: #fff;
  //   &:hover {
  //     color: $blue;
  //     background: #fff;
  //   }
  // }

  // .product-screens {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   overflow: hidden;
  //   text-align: center;
  //   width: 100%;
  //   height: 50%;

  //   img {
  //     box-shadow: 0px -2px 19px 4px rgba(0,0,0,0.29);
  //   }

  //   .product-screen-1 {
  //     position: absolute;
  //     z-index: 30;
  //     left: calc(50% + 54px);
  //     bottom: 0;
  //     top: 30px;
  //   }

  //   .product-screen-2 {
  //     position: absolute;
  //     z-index: 20;
  //     left: calc(50% - 154px);
  //     bottom: 0;
  //     top: 90px;
  //   }

  //   .product-screen-3 {
  //     position: absolute;
  //     z-index: 10;
  //     left: calc(50% - 374px);
  //     bottom: 0;
  //     top: 150px;
  //   }

  //   @media (max-width: 767px) {
  //     .product-screen-1 {
  //       position: static;
  //       padding-top: 30px;
  //     }

  //     .product-screen-2, .product-screen-3 {
  //       display: none;
  //     }
  //   }

  // }

}
