#roadmap {
    @extend %white-section-base;
    padding: 60px 0;
    overflow: hidden;
}
.roadmap .title, .roadmap .paragraph
{ text-align: center; }

.roadmap__timeline 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  position: relative;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 100px;
}

@media only screen and (max-width: 1200px)
{
  .roadmap__timeline
  {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 992px)
{
  .roadmap__timeline
  {
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 660px) {
  .roadmap__timeline { 
    margin-top: 70px;
  }
}

.roadmap__timeline-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 992px)
{
  .roadmap__timeline-item
  {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.roadmap__timeline-item i
{
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #124276;
  border: 2px solid #100F1F;
  -webkit-transition: 300ms linear;
  -o-transition: 300ms linear;
  transition: 300ms linear;
}

@media only screen and (max-width: 992px)
{
  .roadmap__timeline-item i
  {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.roadmap__timeline-item p, .roadmap__timeline-item small
{
  left: 50%;
  width: 130px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 992px)
{
  .roadmap__timeline-item p, .roadmap__timeline-item small
  {
    left: 0;
    position: relative;
    text-align: left;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.roadmap__timeline-item > div
{
  z-index: 100;
  position: relative;
  cursor: pointer;
}

.roadmap__timeline-item > div:hover i
{
  -webkit-transform: scale(2.5);
  -ms-transform: scale(2.5);
  transform: scale(2.5);
}

.roadmap__timeline-item > div:hover .tooltip
{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(0px);
  -ms-transform: translateX(-50%) translateY(0px);
  transform: translateX(-50%) translateY(0px);
}

@media only screen and (max-width: 992px)
{
  .roadmap__timeline-item > div
  {
    top: 0;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.roadmap__timeline-item p
{
  top: 30px;
  color: #B1B7C1;
  font-size: 16px;
}

@media only screen and (max-width: 992px)
{
  .roadmap__timeline-item p
  {
    top: 0;
    text-align: right;
  }
}

.roadmap__timeline-item small
{
  top: -40px;
  color: #47576C;
  font-size: 14px;
}

@media only screen and (max-width: 992px)
{
  .roadmap__timeline-item small
  {
    top: 0;
  }
}

.roadmap__timeline-item:after
{
  content: '';
  height: 2px;
  width: 100%;
  display: block;
  background: #124276;
}

@media only screen and (max-width: 992px)
{
  .roadmap__timeline-item:after
  {
    width: 2px;
    height: 100px;
  }
}

.roadmap__timeline-item--is-progress i
{
  background: #187CFB;
  border: 2px solid #187CFB;
  -webkit-box-shadow: 0 0 15px #187CFB;
  box-shadow: 0 0 15px #187CFB;
}

.roadmap__timeline-item--is-complete i
{
  background: #6AC259;
}

.roadmap__timeline-item--is-complete:after
{
  background: $blue;
}

.roadmap__timeline-item--is-last
{
  -webkit-box-flex: initial;
  -ms-flex: initial;
  flex: initial;
}

.roadmap__timeline-item--is-last:after
{
  display: none;
}