.section-header {

  .section-description {
    text-align: center;
    padding-bottom: 40px;
    font-style: italic;
  }

  .section-divider {
    display: block;
    width: 60px;
    height: 3px;
    background: $purple;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}