$dark-blue: #100F1F;
$white: #FFFFFF;
$blue: #187CFB;
$grey: #b3b3b3;
$red: #FF0000;
$purple: rgb(141, 0, 184);

$point1: 100px;
$point2: 250px;
$point3: 400px;
$point4: 550px;
$point5: 700px;
$point6: 850px;
$point7: 1000px;
$point8: 1150px;
$roadmap-line-width: 1150px;

$accent-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
